.perfil_container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0px 20px 20px;
    margin-bottom: 2rem;
}

.head_perfil {
    background-color: #505050;
    border-radius: 0px 0px 30px 30px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
        width: 15vw;       
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        border-color: #FFFFFF;
    }

    & h2 {
        color: #FFFFFF;
        margin: 10px 0;
        text-align: center;
        font-size: 1.8rem;
    }
}



.info_estudiante {

    margin: 10% 0% 10% 8%;
    font-size: 1.2rem;  

    & h3 {
        margin-bottom: 15px;
        font-family: 'Inter';
        font-weight: bol;
        color: #FFA630;
        line-height: 0px;
    }

    & p {
        margin-bottom: 15px;
        font-family: 'Inter';
        font-weight: lighter;
        color: #FFFFFF;
    }
}

@media (max-width: 768px) {
    .head_perfil img {
        width: 40vw;
    }
}